RewriteEngine On
RewriteBase /

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^(.*)$ $1.html [L]


<FilesMatch "\.(html|css|png|js)$">
    Order Allow,Deny
    Deny from all
</FilesMatch>

<Directory "image">
    Order Allow,Deny
    Deny from all
</Directory>

<Directory "js">
    Order Allow,Deny
    Deny from all
</Directory>

<Directory "css">
    Order Allow,Deny
    Deny from all
</Directory>

<Directory "root">
    Order Allow,Deny
    Deny from all
</Directory>

<Directory "forumlogo">
    Order Allow,Deny
    Deny from all
</Directory>

<Directory "explorer">
    Order Allow,Deny
    Deny from all
</Directory>